@import "../base/variables";
footer{
    background-color: $color-principal;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: footer;
    .footerList{
        background-color: $color-principal2;
        height: 75px;
        width: 150px;
        border: 2px solid $color-terciario3;
    }
    .socialFoot{
        background-color: $color-principal2;
        width: 200px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 2px solid $color-principal;
        a{
            img{
                width: 60px;
                height: 60px;
            }
        }
    }
    .boxDerechos{
        background-color: $color-principal2;
        height: 50px;
        width: 150px;
        border: 2px solid $color-principal;
    }
}
