/* MEDIA QUERY ----INICIO*/
@media screen and (max-width: 1135px) {
    .mainIndex {
        .galeria {
            .gridGaleria {
                margin-left: 20px;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 300px 300px 300px;
                row-gap: 20px;
                column-gap: 10px;
            }
        }
    }
    
    .mainNosotros{
        .imagenNosotros{
            div{
                h2{
                    font-size: 70px;
                }
            }
        }
    }

    footer {
        width: auto;
        margin-top: 350px;
    }
}

@media screen and (max-width: 1150px) {
    .mainNosotros{
        .imagenNosotros{
            div{
                img{
                    perspective: 400px;
                }
                h2{
                    font-size: 60px;
                }
            }
        }
        .gridGaleriaUstedes{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 300px 300px;
            gap: 15px;
        }
    }
    
}

@media screen and (max-width: 920px) {
    .mainIndex {
        .navega {
            div {
                display: flex;
                flex-direction: column;
            }
        }

        .galeria {
            .gridGaleria {
                margin-left: 20px;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 300px 300px;
                row-gap: 20px;
                column-gap: 10px;
            }
        }
    }

    .mainProductos {
        .presentacion {
            div {
                padding-top: 25px;
                margin-top: 25px;

                h1 {
                    font-size: 35px;
                }
            }
        }

        .row-row-cols-1-row-cols-md-3-g-4 {
            .col {
                .card-body {
                    .categoria {
                        span {
                            font-size: 12px;
                        }
                    }

                    h3 {
                        font-size: 28px;
                    }
                }
            }
        }
    }

    .mainNosotros{
        .imagenNosotros{
            div{
                img{
                    width: 600px;
                    height: 300px;
                }
                h2{
                    font-size: 50px;
                }
            }
        }
        .textoNosotros{
            div{
                p{
                    font-size: 30px;
                }
            }
        }
        .textoUstedes{
            div{
                h3{
                    margin-left: 20px;
                    font-size: 30px;
                }
                p{
                    font-size: 25px;
                }
            }
        }
        .gridGaleriaUstedes{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 300px 300px;
            gap: 15px;
        }
    }

    footer {
        width: auto;
        margin-top: 650px;
    }
}

@media screen and (max-width: 770px) {
    .mainProductos {
        .presentacion {
            div {
                h1 {
                    font-size: 30px;
                }
            }
        }

        .row-row-cols-1-row-cols-md-3-g-4 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            gap: 5px;

            .col {
                .card-body {
                    .categoria {
                        span {
                            font-size: 13px;
                        }
                    }

                    h3 {
                        font-size: 28px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 720px) {
    .mainIndex {
        .galeria {
            .gridGaleria {
                margin-left: 20px;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: 300px;
                row-gap: 20px;
                column-gap: 10px;
            }
        }

        .fixed {
            height: 75px;
            width: 75px;

            div {
                margin-top: 15px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }

    .mainNosotros{
        .imagenNosotros{
            div{
                img{
                    width: 500px;
                    height: 250px;
                }
                h2{
                    font-size: 40px;
                }
            }
        }
        
        .gridGaleriaUstedes{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 300px;
            gap: 15px;
        }
    }

    footer {
        width: auto;
        margin-top: 1900px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 660px) {
    .mainProductos {
        .presentacion {
            div {

                h1 {
                    font-size: 25px;
                }
            }
        }

        .row-row-cols-1-row-cols-md-3-g-4 {
            .col {
                .card-body {
                    h3 {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .mainProductos {
        .presentacion {
            div {
                padding-top: 30px;
                margin-top: 30px;
            }
        }

        .row-row-cols-1-row-cols-md-3-g-4 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 5px;
        }
    }
}

@media screen and (max-width:575px) {
    .mainNosotros{
        .imagenNosotros{
            div{
                img{
                    width: 400px;
                    height: 200px;
                }
                h2{
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 555px) {
    .mainProductos {
        .presentacion {
            div {
                padding-top: 35px;
                margin-top: 35px;

                h1 {
                    font-size: 20px;
                }
            }
        }
    }

}

@media screen and (max-width: 500px) {
    .mainIndex {
        .bienvenida {
            .bienvenidaTitulo {
                font-size: 25px;
            }

            .bienvenidaParrafo {
                font-size: 10px;
            }
        }

        .insta {
            div {
                a {
                    img {
                        width: 200px;
                        height: 100px;
                    }
                }
            }
        }

        .fixed {
            height: 50px;
            width: 50px;

            div {
                margin-top: 8px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    height: 25px;
                    width: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .mainContacto {
        .dudas {
            h1 {
                font-size: 25px;
            }

            form {
                width: 350px;
            }
        }
    }
    .mainNosotros{
    .imagenNosotros{
        div{
            img{
                width: 300px;
                height: 150px;
            }
            h2{
                font-size: 25px;
            }
        }

    }
    .textoNosotros{
        div{
            p{
                font-size: 25px;
            }
        }
    }
    .textoUstedes{
        div{
            h3{
                margin-left: 20px;
                font-size: 25px;
            }
            p{
                font-size: 20px;
            }
        }
    }
    .gridGaleriaUstedes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 200px;
        gap: 15px;
    }

}
}

@media screen and (max-width: 445px) {
    .mainProductos {
        .presentacion {
            div {
                padding-top: 40px;
                margin-top: 40px;

                h1 {
                    font-size: 16px;
                }
            }
        }

        .row-row-cols-1-row-cols-md-3-g-4 {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            gap: 5px;
        }
    }

}

@media screen and (max-width: 400px) {
    .mainIndex {
        .galeria {
            .gridGaleria {
                grid-template-rows: 200px;

                img {
                    width: 200px;
                    height: 200px;
                }
            }
        }

        .fixed {
            height: 40px;
            width: 40px;

            div {
                margin-top: 8px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }

    .footerStyleIndex {
        margin-top: 1100px;
    }
}

@media screen and (max-width: 360px) {
    .mainProductos {
        .presentacion {
            div {
                padding-top: 45px;
                margin-top: 45px;

                h1 {
                    font-size: 10px;
                }
            }
        }
    }

    .mainNosotros{
        .imagenNosotros{
            div{
                img{
                    width: 250px;
                    height: 125px;
                }
                h2{
                    font-size: 20px;
                }
            }
    
        }
    }

    .mainContacto {
        .dudas {
            form {
                width: 300px;
            }
        }
    }

    .footerStyleProductos {
        margin-top: 20px;
    }

}