/* MEDIA QUERY ----INICIO*/
@media screen and (min-width: 1024px) {
    .galeria .gridGaleria {
        margin-left: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 300px 300px 300px 300px;
        row-gap: 20px;
        column-gap: 10px;
    }
}

@media screen and (min-width:767px) and (max-width: 1023) {
    .galeria .gridGaleria {
        margin-left: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 300px 300px 300px;
        row-gap: 20px;
        column-gap: 10px;
        margin-bottom: 300px;
    }

    footer {
        width: auto;
    }
}

@media screen and (max-width: 970px) {
    .galeria .gridGaleria {
        margin-left: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 300px 300px 300px;
        row-gap: 20px;
        column-gap: 10px;
    }

    footer {
        width: auto;
        margin-top: 350px;
    }

    footer h4 {
        font-size: 15px;
    }

    footer p {
        font-size: 10spx;
    }
}

@media screen and (max-width: 920px) {
    .galeria .gridGaleria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px 300px;
        row-gap: 20px;
        column-gap: 10px;
        margin-bottom: 300px;
    }
}

@media screen and (max-width: 830px) {
    .navega div {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .bienvenida {
        width: auto;
        height: 85vh;
    }

    .bienvenida .bienvenidaTitulo {
        font-size: 30px;
    }

    .bienvenida .bienvenidaParrafo {
        font-size: 15px;
    }

    .galeria .gridGaleria {
        margin-left: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 300px;
        row-gap: 20px;
        column-gap: 10px;
    }

    footer {
        width: auto;
        margin-top: 1600px;
    }
}

/* MEDIA QUERY ----NOSOTROS*/
@media screen and (max-width: 1400px) {
    .imagenNosotros {
        display: flex;
        justify-content: center;
        align-items: center;
        perspective: 400px;
    }

    .imagenNosotros h2 {
        font-size: 60px;
    }
}

@media screen and (max-width: 1230px) {
    .imagenNosotros {
        display: flex;
        justify-content: center;
        align-items: center;
        perspective: 300px;
    }

    .imagenNosotros h2 {
        font-size: 40px;
    }

    .gridGaleriaUstedes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 300px;
        gap: 15px;
    }
}